<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a60e3">  <td>19/02/15 09:07:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CarRentalsTest.readJSON()[pri:0, instance:CarTests.CarRentalsTest@67205a84]">&gt;&gt;readJSON</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1110623531</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>19/02/15 09:07:47</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarRentalsTest.findCars()[pri:0, instance:CarTests.CarRentalsTest@67205a84]">findCars</td> 
  <td>main@1110623531</td>   <td></td> </tr>
</table>
