<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b7f67">  <td>19/02/15 10:33:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarRentalsTest.findCars()[pri:0, instance:CarTests.CarRentalsTest@9660f4e]">findCars</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>19/02/15 10:33:06</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CarRentalsTest.readJSON()[pri:0, instance:CarTests.CarRentalsTest@9660f4e]">&gt;&gt;readJSON</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
</table>
